    <div class="credits text-center">
                <img src="empty.png" height="20px" width="120px" class="col-xs-12">
        <img src="empty.png" height="20px" width="120px" class="col-xs-12">

</div>
</body>
</html>