<!DOCTYPE html>
<html>
<head>
        <img src="govt.png" height="120px" width="120px" class="col-xs-3" >
        <img src="logo.png" height="120px" width="120px" class="col-xs-6">
        <img src="cpwd.png" height="120px" width="120px" class="col-xs-3">
        <img src="empty.png" height="20px" width="120px" class="col-xs-12">
        <img src="empty.png" height="20px" width="120px" class="col-xs-12">
        <img src="empty.png" height="20px" width="120px" class="col-xs-12">
        <img src="empty.png" height="20px" width="120px" class="col-xs-12">
    <meta charset="utf-8" />
    <title>Login</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
        <link href="app.css" rel="stylesheet" />
    <style type="text/css">
        body {
            padding-top: 5px;
            padding-left: 5px;
        }

        .form-container {
            width: 400px;
            margin: auto;
        }

        .credits {
            border-top: 1px solid #ddd;
        }
    </style>
</head>
<body>